* {
    box-sizing: border-box;
    font-family: "Futura";
}

body {
    margin: 0;
    background-color: #797979;
    color: white;
}

/* header stuff*/

.play-button {
    width: 40px;
    height: 40px;
}

.title {
    font-size: 20px;
}

#quiz-started{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}


/* main stuff*/
main {
    margin-top: 20px;
}

#q-and-a, 
#feedback, 
#final-score, 
#start-menu, 
#qa, 
main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#start-menu {
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

#current-score {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    display: flex;
    justify-content: flex-end;
}

#question-count {
    text-align: center;
    margin-top: 10px;
}

#qa, 
#feedback, 
#final-score, 
.icon, 
.button{
    border: 3px solid #3F3F3F;
    border-radius: 5px;
    background-color: #9B9B9B;
}

.content-box {
    font-size: 14px;
    margin: 0px 20px;
    height: 325px;
    justify-content: space-around;
}

.answer, #question-count, .icon, .button {
    margin-bottom: 10px;
}

.icon {
    width: 75px;
    align-self: center;
}

.answer {
    height: 35px;
    display: flex;
    align-items: center;
}

.answer:hover{
    background-color: #f0AA0A!important;
}

.question {
    font-size: 18px;
    margin: 10px;
}

/* buttons */

#start-button:hover {
    border: 2px solid #17FC67;
    color: #17FC67;
    background-color: #797979;
}

.button {
    width: 100px;
    height: 50px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    align-self: center;
}

.button:hover {
    background-color: #2598F7;
    border: 2px solid #2598F7;
}

/*final score page*/

#pass {
    background-color: #f0AA0A;
}

@media only screen and (min-width: 700px) {
    #start-menu, 
    .content-box{
        height: 600px;
        width: 700px;
        justify-content: space-around;
        align-self: center;
        font-size: 18px;
    }

    .title {
        font-size: 30px;
    }

    .button {
        width: 150px;
        height: 75px;
        font-size: 18px;
    }


    #start-menu-icon, 
    .icon {
        height: 100px;
        width: 100px;
    }

    .answer {
        height: 75px;;
    }
}
